<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>同步听歌-恶搞大王制作</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <script src="https://cdn.bootcss.com/aplayer/1.6.0/APlayer.min.js"></script>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <style>
        li {
            margin: 0em 0;
        }

        button {
            min-height: 0px;
        }

        .aplayer2 {
            margin: 0 0 1.75em 0 !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@1.0.1/dist/Meting.min.js"></script>
</head>
<body onload="start_load()">
<div id="div1" class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <h1 class="title">同步听歌-<em>恶搞大王制作</em></h1>
        </header>
        <div class="content">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">播放器</a>
                <a href="#tab2" class="tab-link button">搜索</a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <div class="content-block">
                            <div id="aplayer1" class="aplayer"></div>
                        </div>
                    </div>
                    <div id="tab2" class="tab">
                        <div class="content-block">
                            <div class="list-block media-list">
                                <div class="searchbar row">
                                    <div class="search-input col-80">
                                        <input type="search" id='search' placeholder='输入关键字...'/>
                                    </div>
                                    <button onclick="search(1)" class="button button-fill button-primary col-20">搜索
                                    </button>
                                </div>
                                <ul id="lists">
                                </ul>
                            </div>
                            <p class="buttons-row">
                                <button onclick="changePage1()" class="button button-round">上一页</button>
                                <button onclick="changePage2()" class="button button-round active">下一页</button>
                            </p>
                        </div>
                    </div>
                    <!--data-id: 歌曲/专辑/歌单 ID-->
                    <!--data-server: 音乐平台，支持如下参数-->
                    <!--netease-->
                    <!--tencent-->
                    <!--xiami-->
                    <!--kugou-->
                    <!--baidu-->
                    <!--data-type: 请求类型，支持如下参数-->
                    <!--song （单曲）-->
                    <!--album （专辑）-->
                    <!--playlist （歌单）-->
                    <!--search （搜索）-->
                    <!--data-mode: 播放模式-->
                    <!--random （随机）-->
                    <!--single （单曲）-->
                    <!--circulation* （列表循环）-->
                    <!--order （列表）-->
                    <!--data-autoplay: 自动播放-->
                    <!--false*-->
                    <!--true-->
                    <!--<div id="tab3" class="tab">-->
                    <!--<div class="content-block">-->
                    <!--<div class="aplayer" data-id="646256355" data-server="netease" data-type="playlist" data-mode="random"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    var curr_page = 1;
    var ws = null;
    var str = null;
    var ap = null;
    //用于暂时屏蔽暂停播放触发的标记
    var flag = true
    var flag2 = true;
    var lasttime = null;
    var last_pause_time = null;
    var last_play_time = null;
    var last_sync = null;
    function changePage1() {
        if (curr_page > 1) {
            curr_page = curr_page - 1;
            search(curr_page);
        }
    }

    function getPlayList() {
        window.location.replace("playlist/" + url);
    }

    function changePage2() {
        curr_page = curr_page + 1;
        search(curr_page);
    }

    function add(id) {
        var x = id.childNodes[2].childNodes[5].innerHTML;
        $.ajax({
            type: 'get',
            url: 'parse',
            data: {id: x},
            dataType: 'json',
            success: function (data) {
                console.log(data)
//                var arr = new Array();
//                arr[0] = data;
//                console.log(JSON.stringify(arr))
//                ap.addMusic(JSON.stringify(arr))
//                $(".aplayer-list")[0].append(" <li class='aplayer-list-light'><span class='aplayer-list-cur' style='background: #ad7a86;'></span><span class='aplayer-list-index'>2</span><span class='aplayer-list-title'>"+data.title+"</span><span class='aplayer-list-author'>"+data.author+"</span></li>");
//                ap.destroy()
//                ap = new APlayer({
//                    element: document.getElementById('aplayer1'),
//                    narrow: false,
//                    autoplay: false,
//                    showlrc: false,
//                    mutex: true,
//                    theme: '#ad7a86',
//                    mode: 'circulation',
//                    music: data
//                });
                swal("Good!", "添加成功!", "success");
            },
            error: function (e) {
            }
        });
    }

    function search(page) {
        var value = $("#search").attr("value")
        if (value == null || value == '') {
            swal("OMG", "必须要输入关键词!", "error");
            return;
        }
        $.ajax({
            type: 'get',
            url: 'search',
            data: {q: value, page: page},
            dataType: 'json',
            success: function (data) {
                $("#lists").html("");
                if (data.length == 0) {
                    swal("OMG", "已经是最后一页了!", "error");
                }
                $.each(data, function (index, content) {
                    $("#lists").append("<li>" + " <a onclick='add(this);return false;'  href='#' class='item-link item-content'> <div class='item-media'>" + "<img src='http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg' style='width: 4rem;' />" + " </div>" + "<div class='item-inner'> <div class='item-title-row'> <div class='item-title'>" + content.title + "</div> <div class='item-after'>$15</div> </div> <div class='item-subtitle'>" + content.author + "</div> <div class='item-text'>" + content.songid + "</div>" + "</div>" + "</a>" + "</li>");
                });
                curr_page = page;
                scrollTo(0, 0);
            },
            error: function (e) {
            }
        });
    }

    function start_load() {
        $.ajax({
            type: 'get',
            url: 'getMenu',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data == null || data.length == 0) {
                    ap = new APlayer({
                        element: document.getElementById('aplayer1'),
                        narrow: false,
                        autoplay: false,
                        showlrc: false,
                        mutex: true,
                        theme: '#ad7a86',
                        mode: 'circulation',
                        music: [
                            {
                                title: 'あっちゅ～ま青春!',
                                author: '七森中☆ごらく部',
                                url: 'https://moeplayer.b0.upaiyun.com/aplayer/yuruyuri.mp3',
                                pic: 'https://moeplayer.b0.upaiyun.com/aplayer/yuruyuri.jpg'
                            }
                        ]
                    });
                } else {
                    ap = new APlayer({
                        element: document.getElementById('aplayer1'),
                        narrow: false,
                        autoplay: false,
                        showlrc: false,
                        mutex: true,
                        theme: '#ad7a86',
                        mode: 'circulation',
                        music: data
                    });
                }
                setListener()
//                ap.on('play',play())
            },
            error: function (e) {
            }
        });
        WebSocketTest();

    }

    //设置监听器
    function setListener() {
        //暂停时
//        ap.on("pause", function () {
//            console.log("pause")
//            if (flag && flag2) {
//                //获取当前的时间
//                var currentTime = ap.audio.currentTime
//                //获取当前的播放进度
//                var palyIndex = ap.playIndex
//                var timestamp = (new Date()).valueOf();
//                ws.send("{'type':'2','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 0 + "','timestamp':'" + timestamp + "'}");
//            }
//        })
        //播放时
        ap.on("play", function () {
                console.log("play")
                if (flag && flag2) {
                    //获取当前的时间
                    var currentTime = ap.audio.currentTime
                    //获取当前的播放进度
                    var palyIndex = ap.playIndex
                    var timestamp = (new Date()).valueOf();
                    ws.send("{'type':'2','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 1 + "','timestamp':'" + timestamp + "'}");
                }
            }
        )
        //缓存完成可以播放时
        ap.on("canplay", function () {
                //由于无法监听到拖动时间.只能够通过影响效率的方式.每次如果调用了canplay就发送当前的进度
                console.log("canplay")
                if (flag && flag2) {
                    flag2 = false;
                    flag = false;
                    var pause = ap.audio.paused
                    //获取当前的时间
                    var currentTime = ap.audio.currentTime
                    //获取当前的播放进度
                    var palyIndex = ap.playIndex
                    var timestamp = (new Date()).valueOf();
                    console.log(pause)
                    console.log(currentTime)
                    console.log(palyIndex)
                    ws.send("{'type':'3','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 1 + "','timestamp':'" + timestamp + "'}");
                    flag = true;
                    flag2 = true;
                }
            }
        )
        //播放结束时
        ap.on("ended", function () {
            console.log("ended")
        })
        //播放错误时
        ap.on("error", function () {
            console.log("error")
        })
        //正在播放时
        //        ap.on("playing", function () {
        //            console.log("playing")
        //        })
    }


    function WebSocketTest() {
        if ("WebSocket" in window) {
//            alert("您的浏览器支持 WebSocket!");
            // 打开一个 web socket
            ws = new WebSocket("ws://115.159.70.77/Listen/sync");
            ws.onopen = function () {
                str = location.href;
                str = str.substring(str.lastIndexOf("/") + 1);
                console.log(str);
                var timestamp = (new Date()).valueOf();
                ws.send("{'type':'0','id':'" + str + "','index':'0','time':'0','canplay':'true','action':'-1','timestamp':'" + timestamp + "'}");
//                alert("数据发送中...");
            };
            ws.onmessage = function (evt) {
                var received_msg = evt.data;
                console.log(received_msg)
                var json = JSON.parse(received_msg);
                //服务器同步请求
                if (json.type == 1) {
                    //判断当前是否暂停
                    var pause = ap.audio.paused
                    //获取当前的时间
                    var currentTime = ap.audio.currentTime
                    //获取当前的播放进度
                    var palyIndex = ap.playIndex
                    var timestamp = (new Date()).valueOf();
//                    if (pause) {
//                        ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 1 + "','timestamp':'" + timestamp + "'}");
//                    } else {
//                        ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 0 + "','timestamp':'" + timestamp + "'}");
//                    }
                    if (last_sync == null) {
                        if (pause) {
                            ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 1 + "','timestamp':'" + timestamp + "'}");
                        } else {
                            ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 0 + "','timestamp':'" + timestamp + "'}");
                        }
                        last_sync = currentTime;
                    } else {
                        if (last_sync != currentTime && ((parseFloat(last_sync) - parseFloat(currentTime) < -0.1 || parseFloat(last_sync) - parseFloat(currentTime)) > 0.1)) {
                            if (pause) {
                                ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 1 + "','timestamp':'" + timestamp + "'}");
                            } else {
                                ws.send("{'type':'1','id':'" + str + "','index':'" + palyIndex + "','time':'" + currentTime + "','canplay':'true','action':'" + 0 + "','timestamp':'" + timestamp + "'}");
                            }
                            last_sync = currentTime;
                        }
                    }
                } else if (json.type == 2) {
                    //接受服务器返回的房主的状态
                    var pause = ap.audio.paused
                    var index = json.index
                    var currentTime = ap.audio.currentTime
                    var time = parseFloat(json.time)
                    //当前的时间戳
                    var c_timestamp = parseFloat((new Date()).valueOf());
                    //发送时候的时间戳
                    var timestamp = parseFloat(json.timestamp)
                    //经过网络传输之后花费了多长的时间
                    var space_timestamp = parseFloat((c_timestamp - timestamp) / 1000);
                    time = parseFloat(time + space_timestamp);
                    var status = json.status
                    flag = false;
                    ap.setMusic(index)
                    if (currentTime - time < -0.1 || currentTime - time > 0.1) {
                        ap.play(time)
                    }
                    flag = true;
                } else if (json.type == 3) {
                    //接受服务器返回的状态.比如暂停.播放等.
                    //0 播放
                    //1 暂停
                    //2 缓存完成
                    if (flag2) {
                        flag2 = false;
                        var pause = ap.audio.paused
                        var index = json.index
                        var time = parseFloat(json.time)
                        var currentTime = ap.audio.currentTime
                        //当前的时间戳
                        var c_timestamp = parseFloat((new Date()).valueOf());
                        //发送时候的时间戳
                        var timestamp = parseFloat(json.timestamp)
                        //经过网络传输之后花费了多长的时间
                        var space_timestamp = parseFloat((c_timestamp - timestamp) / 1000);
                        time = parseFloat(time + space_timestamp);
                        var status = json.status
                        flag = false;
                        if (ap.playIndex != index) {
                            ap.setMusic(index)
                        }
                        if (json.status == 0) {
                            if (pause) {
                            } else {
                                ap.pause()
                            }
                        } else if (json.status = 1) {
                            if (currentTime - time < -0.1 || currentTime - time > 0.1) {
                                ap.play(time)
                            }
                        }
//                        if (json.status = 1) {
//                            if (currentTime - time < -0.1 || currentTime - time > 0.1) {
//                                ap.play(time)
//                            }
//                        }
                        flag = true;
                        flag2 = true;
                    }
                } else {
                    //type = 4
                    //接受服务器的歌曲改变和拖动时间改变
                    if (flag2) {
                        flag2 = false;
                        var index = json.index
                        var time = parseFloat(json.time)
                        var currentTime = ap.audio.currentTime
                        //当前的时间戳
                        var c_timestamp = parseFloat((new Date()).valueOf());
                        //发送时候的时间戳
                        var timestamp = parseFloat(json.timestamp)
                        //经过网络传输之后花费了多长的时间
                        var space_timestamp = parseFloat((c_timestamp - timestamp) / 1000);
                        time = parseFloat(time + space_timestamp);
                        var status = json.status
                        flag = false;
                        if (ap.playIndex != index) {
                            ap.setMusic(index)
                        }
                        if (currentTime - time < -0.1 || currentTime - time > 0.1) {
                            ap.play(time)
                        }
                    }
                    flag = true;
                    flag2 = true;
                }

//                alert("数据已接收...");
            }
            ws.onclose = function () {
                swal("OMG", "与服务器连接中断!", "error");
            };
        }
        else {
            swal("OMG", "浏览器不支持Websocket!", "error");
        }
    }

</script>
</html>